@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Ruslan+Display&display=swap');

@font-face {
  font-family: 'RobotoforLearning-Medium_0';
  src: url('./assets/fonts/RobotoforLearning-Medium_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CenturyGothicPaneuropeanRegular';
  src: url('./assets/fonts/CenturyGothicPaneuropeanRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProjectSeminaria';
  src: url('./assets/fonts/Seminaria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lumos';
  src: url('./assets/fonts/Lumos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-hogwarts-parchment text-hogwarts-ink font-body;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-magical font-bold;
  }
}
